<!-- <ng-template *ngIf="projectId"> -->
  <div class="row">
    <metric-accordion
      [metricSelection]="selectedMetrics"
      [columnSelection]="selectedColumns"
      [project]="openRefineProject"
      (onSelectionUpdated)="handleSelectionUpdated($event)"></metric-accordion>
  </div>
  <div class="row">
    <div class="col-md-9">
      <app-raw-data-table
        [projectId]="projectId"
        [project]="openRefineProject"
        [metricsOverlayModel]="openRefineService.model"
        [columnMetricColors]="columnMetricColors"
        [spanMetricColors]="spanMetricColors"
        (onOverviewMetricSelected)="handleOverviewSelection($event)"
        (tableHeightChanged)="handleTableHeightUpdated($event)"
        (pageChangedEmitter)="handleDataRowsPageChanged($event)">
      </app-raw-data-table>
    </div>
    <div class="col-md-3">
          <!-- <div id="legend">
              <h4 id="detailColumnHeader"></h4>
              <div id="detailMetricHeader"></div>
              <div id="selectedMetricsHeader"></div>
              <div hidden id="filtering"><button type="button" class="btn btn-xs btn-default">Only show dirty entries</button></div>
          </div> -->
      <metric-detail-view
        [viewOffsetTop]="detailViewOffsetTop"
        [rowModel]="rowModel"
        [metricSelection]="selectedMetrics"
        [selectedColumns]="selectedColumns"
        [columnMetricColors]="columnMetricColors"
        [spanMetricColors]="spanMetricColors"
        [rowsFrom]="rowsFrom"
        [rowsTo]="rowsTo"
        (onDataRowsSelected)="handleDataRowsSelected($event)"></metric-detail-view>
    </div>
  </div>
<!-- </ng-template>
<ng-template *ngIf="!projectId">
  <p>Loading Project ...
  </p>
</ng-template> -->