<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <nav class="navbar navbar-toggleable-md navbar-light bg-faded" role="navigation">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#metricdocDropdown" aria-controls="metricdocDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#">MetricDoc</a>
        <div class="collapse navbar-collapse" id="metricdocDropdown">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="" id="addMetric" data-toggle="modal" data-target="#addMetricModal">Add Metric</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="" id="recalculate">Recalculate Metrics</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link nav-item dropdown-toggle" href="" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Export <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a class="nav-link nav-item" href="" id="exportQuality">Export Quality Values</a></li>
                <li><a class="nav-link nav-item" href="" id="exportMetrics">Export Quality Metrics</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link nav-item dropdown-toggle" href="" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Import Metrics from Project<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a class="nav-link nav-item" href="" id="importMetrics">Import Metrics</a></li>
                <li><a class="nav-link nav-item" href="" id="importProject">Import Project Settings</a></li>
              </ul>
            </li>
            <li>
              <a class="nav-link" href="#" id="showExamples" data-toggle="modal" data-target="#examplesModal">Metric and Check Examples</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
  <div class="row">
    <metric-accordion
      [metricSelection]="selectedMetrics"
      [columnSelection]="selectedColumns"
      [project]="openRefineProject"
      (onSelectionUpdated)="handleSelectionUpdated($event)"></metric-accordion>
  </div>
  <div class="row">
    <div class="col-md-9">
      <app-raw-data-table
        [project]="openRefineProject"
        [metricsOverlayModel]="openRefineService.model"
        [columnMetricColors]="columnMetricColors"
        [spanMetricColors]="spanMetricColors"
        (onOverviewMetricSelected)="handleOverviewSelection($event)"
        (tableHeightChanged)="handleTableHeightUpdated($event)"
        (pageChangedEmitter)="handleDataRowsPageChanged($event)">
      </app-raw-data-table>
    </div>
    <div class="col-md-3">
          <!-- <div id="legend">
              <h4 id="detailColumnHeader"></h4>
              <div id="detailMetricHeader"></div>
              <div id="selectedMetricsHeader"></div>
              <div hidden id="filtering"><button type="button" class="btn btn-xs btn-default">Only show dirty entries</button></div>
          </div> -->
      <metric-detail-view
        [viewOffsetTop]="detailViewOffsetTop"
        [rowModel]="rowModel"
        [metricSelection]="selectedMetrics"
        [selectedColumns]="selectedColumns"
        [columnMetricColors]="columnMetricColors"
        [spanMetricColors]="spanMetricColors"
        [rowsFrom]="rowsFrom"
        [rowsTo]="rowsTo"
        (onDataRowsSelected)="handleDataRowsSelected($event)"></metric-detail-view>
    </div>
  </div>
</div>