$selected-color: #fc8d59;
$shift-selected-color: #91bfdb;
$both-selected-color: #ffffbf;

div.d3tooltip {
    position: absolute;
    text-align: center;
    width: 160px;
    padding: 4px;
    font: 13px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
    overflow:visible;
}

rect.selected {
    stroke: gray;
    fill: $both-selected-color;
    stroke-width: 2px;
}

rect.selectedPath {
    stroke: gray;
    fill: $selected-color;
    stroke-width: 2px;
}

rect.shiftSelectedPath {
    stroke: gray;
    fill: $shift-selected-color;
    stroke-width: 2px;
}

rect.selectedPath.shiftSelectedPath {
    stroke: gray;
    fill: $both-selected-color;
    stroke-width: 2px;
}

rect.selectedNode {
    stroke: gray;
    stroke-width: 4px;
}

rect.shiftSelectedNode {
    stroke: gray;
    stroke-width: 4px;
}

g.icons rect.selected {
    fill: $selected-color;
    stroke: gray;
    stroke-width: 2px;
}

g.icons rect.shiftSelected {
    fill: $shift-selected-color;
    stroke: gray;
    stroke-width: 2px;
}

g.icons rect.jointSelected {
    fill: $both-selected-color;
    stroke: gray;
    stroke-width: 2px;
}