<h3>Quality Metrics per Transformation Step
  <button class="btn btn-primary btn-sm" 
    (click)="toggleShowDetail(); $event.stopPropagation(); $event.preventDefault()">Toggle Detail
  </button>
</h3>
<app-quality-provenance-vis #qualityProvenanceVis 
  [pageWidth]="pageWidth" 
  [componentHeight]="detailHeight"
  [openRefineService]="openRefineService"
  [projectId]="projectId"
  [histId]="histId"
  [nodeHistory]="nodeHistory"
  [shiftNodeHistory]="shiftNodeHistory"
  [nodeWidth]="nodeWidth"
  [scaleHistory]= "scaleHistory"
  [sankeyDiag]="sankeyDiag"
  [qualityViewWidth]="qualityViewWidth"
  [showDetail]="showDetail"
  [detailViewWidth]="detailViewWidth"></app-quality-provenance-vis>
<svg #provGraph class="provGraph" [style.width.%]="pageWidth" [style.height.%]="sankeyHeight"></svg>
<context-menu #qualityMetric>
  <!-- <ng-template contextMenuItem divider="true"></ng-template> -->
  <ng-template contextMenuItem let-item (execute)="deleteMetric($event.item)">
    Bye, {{item?.name}}
  </ng-template>
  <ng-template contextMenuItem passive="true">
    Input something: <input type="text">
  </ng-template>
</context-menu>
<context-menu #issue>
  <ng-template contextMenuItem let-item>
    Add Metric: {{item}}
  </ng-template>
</context-menu>
<!-- TODO: uncomment refine project -->
<!-- <iframe [style.width.%]="pageWidth" [style.height.%]="refineHeight" [src]="refineProjectUrl"></iframe> -->
 <!-- (window:resize)="onResize(svg.getBoundingClientRect())" -->