<app-quality-provenance-vis #qualityProvenanceVis 
  [pageWidth]="pageWidth" 
  [componentHeight]="detailHeight"
  [openRefineService]="openRefineService"
  [projectId]="projectId"
  [histId]="histId"
  [nodeHistory]="nodeHistory"
  [loadFinished]="loadFinished"></app-quality-provenance-vis>
<svg #provGraph class="provGraph" [style.width.%]="pageWidth" [style.height.%]="sankeyHeight"></svg>
<!-- TODO: uncomment refine project -->
<!-- <iframe [style.width.%]="pageWidth" [style.height.%]="refineHeight" [src]="refineProjectUrl"></iframe> -->
 <!-- (window:resize)="onResize(svg.getBoundingClientRect())" -->