div.d3tooltip {
    position: absolute;
    text-align: center;
    width: 160px;
    padding: 4px;
    font: 13px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
    overflow:visible;
}

rect.selected {
    stroke: gray;
    stroke-width: 2px;
}

path.selected {
    fill: #f7fcb9;
    stroke: gray;
    fill-opacity: 0.85;
    stroke-width: 2px;
}

path.shiftSelected {
    fill: #addd8e;
    stroke: gray;
    fill-opacity: 0.65;
    stroke-width: 2px;
}
