div.d3tooltip {
    position: absolute;
    text-align: center;
    width: 120px;
    height: 28px;
    padding: 2px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}

rect.selected {
    stroke: gray;
    stroke-width: 2px;
}

path.selected {
    fill: #a2b9bc;
    stroke: gray;
    fill-opacity: 0.85;
    stroke-width: 2px;
}
