<div class="list-group" style="margin-bottom: 12px" *ngIf="!projectId">
  <li class="list-group-item justify-content-between list-group-item-secondary">
    Active Metric Projects
  </li>
  <li class="list-group-item list-group-item-action flex-column" 
    *ngFor="let proj of projects; let rowIndex = index; trackBy: rowFn"
    [routerLink]="['/open-data-provenance', proj.id]"
    routerLinkActive="active">
    <div class="d-flex w-100 justify-content-between">
      <div class="float-left">
        <span class="fa fa-calculator fa-lg"></span>
        {{proj.name_with_namespace}}
        <!-- <metric-preview [projectId]="proj.key"></metric-preview> -->
      </div>
      <!-- <span class="float-left"></span> -->
    </div>
    <div class="d-flex w-100 justify-content-between">
      <small class="float-left">last changed: {{proj.last_activity_at}}</small>
      <small class="float-right">created: {{proj.created_at}}</small>
    </div>
</div>
<svg class="quality-stream" [style.width.px]="1500"
  [style.height.px]="540"></svg>
<svg class="git-graph" [style.width.px]="1500"
  [style.height.px]="350"></svg>
<!-- <div>
  <p *ngFor="let commit of commits">created: {{commit.created_at}}, id: {{commit.id}}</p>
</div> -->