<ng-container *ngIf="projectId">
  <ng-container *ngIf="projectMetadata && refineProject && rowModel">
  <h2>
    {{projectMetadata.name}}
  </h2>
  <p>
    Number of Columns: {{refineProject.columnModel.columns.length}}
  </p>
  <p>
    Number of Rows: {{rowModel.total}}
  </p>
  <p>
    <button type="button" class="btn btn-secondary" 
      (click)="goToRefineProject()">
        Go To OpenRefine Project
    </button>
    <button type="button" class="btn btn-primary"
      [disabled]="importSuccess"
      (click)="addMetricsOverlay()">
        Convert to Metrics Project
    </button>
  </p>
  <p>
    <ngb-alert *ngIf="errorMessage" [dismissible]="true">
      <strong>Error:</strong> {{errorMessage}}
    </ngb-alert>
  </p>
  </ng-container>
  <ng-container *ngIf="metricFunctions">
    <h3>Recommended Metrics</h3>
    <div class="list-group" style="margin-bottom: 12px" *ngFor="let functionsColumn of metricFunctions.columns; let colIndex = index; trackBy: columnFn">
      <li class="list-group-item justify-content-between list-group-item-secondary">
        Column: {{functionsColumn.column}}
      </li>
      <!-- [routerLink]="['/metric-project', proj.key]"
        routerLinkActive="active" -->
      <li class="list-group-item list-group-item-action flex-column" 
        *ngFor="let metricRecommendation of functionsColumn.metrics; let metricIndex = index; trackBy: metricFn"
        [class.disabled]="metricsDisabled[colIndex][metricIndex]"
        (click)="toggleMetric($event, colIndex, metricIndex)">
        <div class="d-flex w-100 justify-content-between">
          <div class="float-left">
            <span class="fa fa-bar-chart"></span>
            Metric - {{metricRecommendation.name}}
          </div>
          <div class="float-right">{{metricRecommendation.name}}( 
            <input type="text" 
              [value]="metricRecommendation.parameters" 
              (click)="$event.stopPropagation()"
              (keyup)="onTextKey($event, colIndex, metricIndex)"> )
          </div>
        </div>
        <div class="d-flex w-100 justify-content-between">
          <small [style.marginRight.px]="100">Description: {{metricRecommendation.metric.description}}</small>
          <small class="float-right">Default Parameters: {{metricRecommendation.metric.params}}</small>
        </div>
      </li>
    </div>
  </ng-container>
</ng-container>
<ng-container *ngIf="!projectId">
  <li class="list-group-item justify-content-between list-group-item-secondary">
    Choose From Existing Project:
    <span class="badge badge-default badge-pill">{{(refineProjects | nonMetricProjects).length}}</span>
  </li>
  <!-- (click)="openProject(rowIndex)"> -->
  <li class="list-group-item list-group-item-action flex-column disabled" *ngFor="let proj of (refineProjects | nonMetricProjects); let rowIndex = index; trackBy: rowFn"
    [routerLink]="['/create-project', proj.key]"
    routerLinkActive="active">
    <div class="d-flex w-100 justify-content-between">
      <div class="float-left">
        <span class="fa fa-calculator fa-lg"></span>
        {{proj.value.name}}
      </div>
      <!-- <span class="float-left"></span> -->
    </div>
    <div class="d-flex w-100 justify-content-between">
      <small class="float-left">last changed: {{proj.value.modified}}</small>
      <small class="float-right">created: {{proj.value.created}}</small>
    </div>
  </li>
  <li class="list-group-item justify-content-between list-group-item-secondary">
    Go to OpenRefine ...
    <!-- <span class="badge badge-default badge-pill">{{(refineProjects | nonMetricProjects).length}}</span> -->
  </li>
</ng-container>